.bheader{
    // background-color: lightblue
}
.mat-card{
    height: 100%;
    width: 100%;
}

.page-from{
    font-size: 10px;
    color: #766969;
    float: right;
}

.cards{
    margin-top : 5px
}