

.grid-container{
    // margin-top: 10px;

    .gridContainer{
        font-size: 12px !important;
        max-height : 75vh;
        min-height : 75vh;
    }

    ::ng-deep .gridContainer .dx-filterbuilder-overlay .dx-scrollable-container {
        max-height: 400px;
    }

    // ::ng-deep .gridContainer .dx-datagrid .dx-row > td {
    //     font-size: 12px !important;
    //     line-height: 10px !important;
    // }
} 