<div
    class="data-grid-container"
    *ngIf="showGrid"
>

    <dx-data-grid
        class="gridContainer"
        [dataSource]="companyData"
        [columns]="columns"
        [showBorders]="false"
        [filterValue]="filterValue"        
        [columnHidingEnabled]="true"
        [showRowLines]="false"
        [showColumnLines]="false"
        [hoverStateEnabled]="true"
    >
        <dxo-export
            [enabled]="true"
            fileName="Employees"
            [allowExportSelectedData]="true"
        ></dxo-export>
        <!-- <dxo-selection mode="multiple"></dxo-selection> -->
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-filter-builder></dxo-filter-builder>
        <dxo-filter-builder-popup [position]="popupPosition"></dxo-filter-builder-popup>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxi-column
            dataField="date"
            dataType="date"
            sort="asc"
        ></dxi-column>
        <dxi-column
            dataField="open"
            format="currency"
            dataType="number"
        ></dxi-column>
        <dxi-column
            dataField="high"
            format="currency"
            dataType="number"
        ></dxi-column>
        <dxi-column
            dataField="low"
            format="currency"
            dataType="number"
        ></dxi-column>
        <dxi-column
            dataField="close"
            format="currency"
            dataType="number"
        ></dxi-column>
        <dxi-column
            dataField="adj_close"
            format="currency"
            dataType="number"
        ></dxi-column>
        <dxi-column
            dataField="vol"
            format="currency"
            dataType="number"
        ></dxi-column>

        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10,15,20]"
            [showInfo]="true"
        >
        </dxo-pager>

    </dx-data-grid>
</div>