@import "../../../styles/colors.scss";

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

 #chart {
  height: 35vh;
  //  width: ;
 }

 #zoomedChart{
  height: 15vh;
  width: 100%
 }
 
//  /deep/ .gridContainer .dx-filterbuilder-overlay .dx-scrollable-container {
//   max-height: 400px;
// }

// /deep/ .gridContainer .dx-datagrid .dx-row > td {
//   font-size: 12px !important;
//   line-height: 10px !important;
// }

.mat-card{
  height: 100%;
  width: 100%;
}

.container{
  // height: 92%;
  width: 100%;
  margin-top: 15px
}