<!-- <dx-toolbar [items]="toolbarContent"></dx-toolbar>
<dx-drawer
    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [opened]="true"
    [height]="400"
    [closeOnOutsideClick]="true"
>
    <div
        *dxTemplate="let data of 'template'"
        style="width: 200px"
    >
        <dx-list
            class="panel-list dx-theme-accent-as-background-color"
            [dataSource]="navigation"
            [hoverStateEnabled]="false"
            [activeStateEnabled]="false"
            [focusStateEnabled]="false"
        >
        </dx-list>
    </div>
    <ng-content></ng-content>

</dx-drawer> -->
<mat-toolbar class="app-nav mat-elevation-z4" role="heading">
  <mat-toolbar-row >
    <mat-icon class="pointer menu-logo" (click)="drawer.toggle()">menu</mat-icon>
    <span>&nbsp;Hackathon App</span>
    <span class="example-spacer"></span>
    <span><mat-chip-list><mat-chip disabled="true">{{getHeader()}}</mat-chip></mat-chip-list></span>    
    <span class="example-spacer"></span>
    <mat-icon aria-hidden="false" (click)="openAddNote()" style="padding-top:1px" [matBadge]="getStickyCount()" matBadgeColor="accent">speaker_notes</mat-icon>
    &nbsp;
    &nbsp;
    <mat-icon aria-hidden="false">person_pin</mat-icon>
    <span class="toolbar-content">Demo Hacker</span>
    <button type="button" matTooltip="Logout" mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="'push'" [hasBackdrop]="false">
      <mat-nav-list>  
        <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
        <a mat-list-item [routerLink]="'/home/charts'"> Visualize </a>
        <a mat-list-item [routerLink]="'/whitebaord'"> Whiteboards </a>  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  -->
<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'push'" class="menu">
    <mat-nav-list>
      <!-- <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-list-item [routerLink]="'/add-form'"> Add Form </a>
      <a mat-list-item [routerLink]="'/whiteboard/boards'"> Whiteboards </a> -->
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>